:root {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-background: #131415;
  --color-background-2: #1c1e1f;
  --color-background-3: #404952;

  --color-foreground: #e1e6ef;
  --color-foreground-2: #c6d1e7;

  --color-primary: #5091b2;
  --color-primary-2: #3d7692;
  --color-onprimary: #eff2f9;
}

body[data-theme='light'] {
  --color-background: #f0f2f5;
  --color-background-2: #fafafa;
  --color-background-3: #f1f1f1;

  --color-foreground: #3e3838;
  --color-foreground-2: #704870;
}

body {
  color: var(--color-foreground);
  background-color: var(--color-background);
  margin: 0;

  transition: 0.4s ease;
}

a {
  text-decoration: none;
  color: inherit;
}
