:root {
  font-family: 'RubikVariable', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-foreground);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-background: #262d32;
  --color-background-2: #373f46;
  --color-background-3: #404952;

  --color-foreground: #d9ced8;
  --color-foreground-2: #e0bfdd;

  --color-primary: #a776a3;
  --color-primary-2: #8b6087;
  --color-onprimary: #e9e0e8;
}

a {
  text-decoration: none;
  color: inherit;
}
