:root {
  font-family: 'RubikVariable', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-background: #25252c;
  --color-background-2: #373f46;
  --color-background-3: #404952;

  --color-foreground: #f2d6db;
  --color-foreground-2: #e0a9b2;

  --color-primary: #b25068;
  --color-primary-2: #96465a;
  --color-onprimary: #f2d6db;
}

body[data-theme='light'] {
  --color-background: #ecebeb;
  --color-background-2: #dcd2d2;
  --color-background-3: #f1f1f1;

  --color-foreground: #3e3838;
  --color-foreground-2: #704870;
}

body {
  color: var(--color-foreground);
  background-color: var(--color-background);
  margin: 0;

  transition: 0.4s ease;
}

a {
  text-decoration: none;
  color: inherit;
}
